header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header div div {
    display: flex;
    align-items: center;
}

header a {
    margin-right: 3vw;
}

header a img {
    height: 5vw;
    aspect-ratio: 1;
    transform: scale(2);
}

header>img {
    height: 14vw;
    aspect-ratio: 1;
}

#date {
    opacity: .7;
    margin-right: 3.5vw;
}

#project {
    margin-left: 3.5vw;
    color: red;
}

#bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

#open-menu {
    padding: 0;
    background: none;
    border: none;
}

#open-menu img {
    aspect-ratio: 1;
    height: 5vw;
}

#menu {
    position: absolute;
    right: 1.5vw;
    top: -20vw;

    background-color: white;
    padding: 0;
    border-radius: 1vw;
    box-shadow: 0 0 .5vw 1vw rgba(0, 0, 0, 0.2);
}

#menu a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 2vw 5vw;
}

#menu hr {
    margin: 0;
}

.project-marker {
    position: absolute;
    transform: scale(1.05);
    right: 0;
}

#validate-project {
    display: block;
    background-color: var(--accent-color);
    outline: none;
    border: none;
    color: white;
    width: 100%;
    font-size: 4.5vw;
    padding: 2vw 0;
    border-radius: 1vw;
    text-align: center;
    margin-bottom: 7vw;
    text-decoration: none;
}

#add-to-ascents,
#delete-ascent {
    display: block;
    background-color: var(--accent-color);
    outline: none;
    border: none;
    color: white;
    width: 100%;
    font-size: 4.5vw;
    padding: 2vw 0;
    border-radius: 1vw;
    text-align: center;
    margin-bottom: 7vw;
    text-decoration: none;
    cursor: pointer;
}

#delete-ascent {
    background-color: #f44336;
    display: none;
    /* Initially hidden until ascents are loaded */
}