header div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#step {
    height: fit-content;
    font-weight: bold;
    margin-bottom: 2vw;
}

#wall {
    width: 100%;
}

#next, #back {
    background-color: var(--accent-color);
    outline: none;
    border: none;
    color: white;
    width: 100%;
    font-size: 4.5vw;
    padding: 2vw 0;
    border-radius: 1vw;
}

#back {
    background-color: transparent;
    outline: none;
    border: .5vw solid var(--accent-color);
    color: var(--accent-color);
    width: 100%;
    font-size: 4.5vw;
    padding: 2vw 0;
    border-radius: 1vw;
    margin-top: 2vw;
}

input, textarea {
    background-color: var(--searchbar-background);
    border: none;
    width: 100%;
    border-radius: 1vw;
    padding: 1vw 2vw;
    outline: none;
    font-size: 4vw;
    resize: none;
}

input, textarea, #filter-grades {
    margin: 0 0 4vw;
}

#fields p:first-child {
    margin-top: 4vw;
}

#error {
    color: red;
    margin-bottom: 3vw;
}