* {
    box-sizing: border-box;

    font-family: Inter, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;

    --background-color: white;
    --text-color: black;
    --searchbar-background: #eeeeef;
    --searchbar-text: #838388;
    --accent-color: #00B628;
}

body {
    margin: 5vw 4vw 0;
}

button, a {
    cursor: pointer;
}

img {
    max-width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 7.5vw;
    margin: 4vw 0;
}

h2 {
    font-size: 6vw;
    margin: 2vw 0;
}

p {
    font-size: 4vw;
    margin: 0;
}

#filter-grades {
    margin-top: 3.5vw;
    display: flex;
}

#filter-grades button {
    border: none;
    background: none;
    padding: 0;
    margin: 0 1%;
}

#filter-grades button:first-child {
    margin-left: 0;
}

#filter-grades button:last-child {
    margin-right: 0;
}